@page
@model SEKISAN_IRAI.Pages.Requests.DeleteModel
@{
    ViewData["Title"] = "削除";
}

<h1>削除</h1>

<h3>本当に削除しますか？</h3>
<div>
    <h4>@Model.Request.Title</h4>
    <form method="post">
        <input type="hidden" asp-for="Request.Id" />
        <button type="submit" class="btn btn-danger">削除</button>
        <a asp-page="Index" class="btn btn-secondary">戻る</a>
    </form>
</div>